* {
    box-sizing: border-box;
}

.grid-container {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.btns {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btns button {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #30a7d7;
    color: #fff;
    font-size: 1em;
}
